{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_user_show' %}

{% block main %}

<h1>{{ 'user.userDetails'|trans }}</h1>

<hr/>

<div class="row">
	<div class="col-md-6 col-sm-12 col-xs-12">
		<p><b>{{ 'label.username'|trans }}:</b> {{ user.username }}</p>
		<p><b>{{ 'label.fullname'|trans }}:</b> {{ user.fullName}}</p>
		<p><b>{{ 'label.email'|trans }}:</b> {{ user.email}}</p>
		<p><b>{{ 'label.role'|trans }}:</b> {{ user.roles[0]}}</p>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<a href="{{ path('admin_user_index') }}" class="btn btn-lg btn-block btn-primary">{{ 'user.btnBack'|trans }}</a>
	</div>
</div>

{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_user_edit', {id: user.id}) }}" class="btn btn-lg btn-block btn-success">
        	<i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_user'|trans }}
        </a>
    </div>
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}